<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-1de0bowjvfbbcx7q.us.auth0.com</string>
	<key>ClientId</key>
	<string>rwah022fY6bSPr5gstiKqPAErQjgynT2</string>
	<key>Scheme</key>
	<string>com.fitnessclub.auth0</string>
</dict>
</plist>
